* {
    padding: 0;
    margin: 0;
}

body{
    background: url("/static/images/house.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-color: rgb(30, 25, 25);
    height: 80px;
    width: 100%;
    position: relative;
}

header h1{
    color: white;
    position:absolute;
    left: 96px;
    top: 0;
    line-height: 80px;
    text-align:center

}

header ul {
    position:absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
    
}

header a{
    color: white;
    text-decoration: none;

}

header a:hover{
    text-decoration:underline;
}

header li {
    display: inline;
    margin-right: 4vw;
}


.container{
    max-width: 650px;
    background: rgba(255, 255, 255, 0.272);
    padding: 28px;
    border-radius: 10px;
    width: 800px;
    margin: 0 auto;
    
}

input{
    background-color: transparent;
    border: 10px;
    border-radius: 1rem;
    outline: 2px ridge rgba(0, 0, 0, 0.338);
    color: black;
    padding: 4px;
    font-size: 16px;
}

.age{
    text-align: center;
}

.rooms{
    text-align: center;
}
.living_rooms{
    text-align: center;
}
.bath_rooms{
    text-align: center;
}
.parking_spots{
    text-align: center;
}
.parking_spots_area{
    text-align: center;
}
.land_area{
    text-align: center;
}
.building_area{
    text-align: center;
}
.floor{
    text-align: center;
}
.district{
    text-align: center;
}











/*

justify-content: center;
align-content: center;

*/


.button{
    font-size: 18px;
    margin: 10px 0;
    border: 1px solid #acacac;
    padding: 5px 5px;
    border-radius: 10px;
}

.menu{
    display: none;
}







/* 響應式設計與法 */

@media screen and (max-width: 768px) {
    header ul{
        display: none;
    }
    

    header h1{
        left: 20%;
        transform:scale(100%);
    }

    
    .menu{
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }

    .container{
        width: 100%;
        max-width: 650px;
        background: rgb(255,255,255,0.2);
        padding: 28px;
        margin: 0 28px;
        border-radius: 10px;
        
        
    }

}
