<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>房屋資訊</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    
    

    
</head>
<body>
    
    <fieldset>
        <div>
            <form method="post">
                <h1>專案首頁</h1>
                <h2>{{msg}}</h2>
                <lengend>房屋資訊查詢</lengend>
                <input type="text" name="area" />
                <input type="submit" value="查詢" class="btn btn-outline-secondary"/>
            </form>
        </div>
    </fieldset>
    
    <!---查詢結果--->
    <!--jinja2 expression-->
    
    <!--sever side jinja2 expression-->
    
    {% if result!=None %}
    <fieldset id="app">
        <lengend>查詢結果</lengend>
        <h1>前端記錄數</h1>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    
                </thead>
                <tbody>

                </tbody>
            
        </div>
    </fieldset>
    
</body>
</html>
